.hero__container {
    width: 21.4375rem;
    height: 15.375rem;
    margin-top: 20.7rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 0.5px solid lightblue;
}

.hero__title {
    font-size: var(--fs-LS);
    font-weight: var(--fw-XL);
    line-height: 100%;
    letter-spacing: -1.136px;
}

.hero__intro {
    font-size: var(--fs-S);
    font-weight: var(--fw-Medium);
    line-height: 162.5%;
    color: var(--colorGrayLight);
}

.hero__title-underline {
    text-decoration: underline solid var(--colorGreen) 6px;
    text-underline-offset: 16px;
}

/* .hero__photo-container {
    margin: 3rem 1rem 2.5rem;
    height: 242px;
    border: 0.5px solid plum;
} */

/* .hero__image {
    position: relative;
    translate: -50%;
    top: -47px;
    height: auto;
    left: 50%;
    z-index: -1;
    max-width: 174px;
} */

.hero__image {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 174px;
    height: auto;
}

/* Mobile first media queries */
/* 2xs */
/* @media (min-width: 375px) {} */

/* xs */
/* @media (min-width:475px) {} */

/* sm */
/* @media (min-width:640px) {} */

/* md */
@media (min-width:768px) {
    .hero {
        /* width: 100%; */
        height: 37.5rem;
    }


    .hero__container {
        margin-top: 5.625rem;
        width: 27.7rem;
        height: 14.65rem;
        margin-inline-start: 2rem;
        display: block;
        text-align: left;
    }


    .hero__title {
        font-size: var(--fs-LL);
        letter-spacing: -2.045px;
        height: 233px;
        width: 433px;
        flex-shrink: 0;
    }

    .hero__image {
        /* position: relative; */
        width: 42vw;
        max-width: 445px;
        width: 322px;
        height: auto;
        left: 444px;
        /* right: 0; */
        /* translate: 0; */
        top: 0;
        z-index: -1;
        translate: none;
    }

    .hero__intro {
        margin-block: 3.75rem 2.125rem;
        width: 400px;
        line-height: 28px;
        font-size: var(--fs-Medium);
        font-weight: var(--fw-Medium);
    }

    /* .hero__photo-container {
        width: 322px;
        height: 600px;
    } */
}

/* lg */
/* @media (min-width:1024px) {} */

/* xl */
/* @media (min-width:1280px) {} */

/* 2xl */
@media (min-width:1440px) {
    .hero__container{
        margin-top: 7.94rem;
        margin-inline: 0;
    }
    .hero__image {
        width: 445px;
        left: 829px;
    }

    .hero__title{
        font-size: var(--fs-XL);
        font-weight: var(--fw-XL);
        line-height: 100%;
        letter-spacing: -2.5px;
        width: 709px;
        height: auto;
    }

    .hero__intro{
        font-size: var(--fs-Medium);
        font-weight: var(--fw-Medium);
        line-height: 155.556%;
        width: 445px;
        height: 84px;
        margin-block: 37px 65px;
    }

}

/* mobile first utils */